* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.board {
    width: 35%;
    height: 70vh;
    background: #000;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.boarder {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 800;
}
.boarder:hover {
    background-color: #fffefeea;
}
#win {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}